<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
       
	<!-- spring注解模式配置 -->
	<context:annotation-config/>
    <context:component-scan base-package="com.*"/>
     <!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->  
    <bean  
        class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />  
        
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		lazy-init="false">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">      
      <property name="driverClass" value="${jdbc.driverClassName}" />      
      <property name="jdbcUrl" value="${jdbc.url}" />      
      <property name="user" value="${jdbc.username}" />      
      <property name="password" value="${jdbc.password}" />    
      <property name="minPoolSize" value="10" />  
    <property name="maxPoolSize" value="20" />  
    <property name="maxIdleTime" value="1800" />  
    <property name="acquireIncrement" value="2" />  
    <property name="maxStatements" value="0" />  
    <property name="initialPoolSize" value="2" />  
    <property name="idleConnectionTestPeriod" value="60" />  
    <property name="acquireRetryAttempts" value="30" />  
    <property name="breakAfterAcquireFailure" value="true" />  
    <property name="testConnectionOnCheckout" value="true" />  
   </bean> 
	
    <!-- 配置spring-jdbcTemplate模板 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="simpleJdbcTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
  		<constructor-arg><ref bean="dataSource"/></constructor-arg>
	</bean> 
	
    <!-- 配置JDBC数据源的局部事务管理器，使用DataSourceTransactionManager 类 
                  该类实现PlatformTransactionManager接口，是针对采用数据源连接的特定实现-->
	<bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 事物控制 -->
	<bean id="baseTransactionProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
	    <property name="transactionManager" ref="dataSourceTransactionManager" />
	    <property name="transactionAttributes">
	        <props>
	            <prop key="terParamsFileLeadingIn">PROPAGATION_REQUIRED</prop>
	            <prop key="batchSave">PROPAGATION_REQUIRED</prop>
	            <prop key="*">readOnly</prop>
	        </props>
	    </property>
	</bean>
	
  	 
</beans>